<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单信息列表')" />

</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>设备名称：</label>
                            <input type="text" name="equipmentName"/>
                        </li>
                        <li>
                            <label>借用数量：</label>
                            <input type="text" name="borrowNum"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('dv_order_return_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>借用日期：</label>
                            <input type="text" class="time-input" placeholder="请选择借用日期" name="borrowDate"/>
                        </li>
                        <li>
                            <label>归还日期：</label>
                            <input type="text" class="time-input" placeholder="请选择归还日期" name="returnDate"/>
                        </li>

                        <li>
                            <label>截至日期：</label>
                            <input type="text" class="time-input" placeholder="请选择截至日期" name="deadDate"/>
                        </li>
                        <li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-danger multiple disabled" onclick="$.operate.returnBack()" shiro:hasPermission="device:order:return">-->
            <!--    <i class="fa fa-exclamation-triangle"></i> 补还-->
            <!--</a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="device:order:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('device:order:edit')}]];
    var removeFlag = [[${@permission.hasPermi('device:order:remove')}]];
    var returnFlag = [[${@permission.hasPermi('device:order:return')}]];
    var borrowFlag = [[${@permission.hasPermi('device:equipment:borrow')}]];
    var renewFlag = [[${@permission.hasPermi('device:order:renew')}]];
    var statusDatas = [[${@dict.getType('dv_order_return_status')}]];
    var prefix = ctx + "device/order";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            returnUrl: prefix + "/return",
            exportUrl: prefix + "/export",
            borrowAgainUrl: prefix + "/borrowAgain/{id}",
            renewUrl: prefix + "/renew/{id}",
            modalName: "订单",
            columns: [{
                checkbox: true
            },
                {
                    field: 'orderId',
                    title: '订单ID',
                    visible: false
                },
                {
                    field: 'equipmentName',
                    title: '设备名称'
                },
                {
                    field: 'typeName',
                    title: '设备类型',
                },
                {
                    field: 'borrowNum',
                    title: '借用数量',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'borrowDate',
                    title: '借用日期',
                    sortable: true,

                },
                {
                    field: 'returnDate',
                    title: '归还日期',
                    sortable: true,

                },
                {
                    field: 'deadDate',
                    title: '截至日期',
                    sortable: true,
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.status == '未归还') {
                            actions.push('<a class="btn btn-success btn-xs ' + returnFlag + '" href="javascript:void(0)" onclick="$.operate.returnDevice(\'' + row.orderId + '\')"><i class="fa fa-edit"></i>归还</a>   ');
                            actions.push('<a class="btn btn-info btn-xs ' + renewFlag + '" href="javascript:void(0)" onclick="$.operate.renew(\'' + row.orderId + '\')"><i class="fa fa-clock-o"></i>续期</a>');
                        } else if (row.status == '已归还') {
                            // 状态为"已归还"时，可以选择不显示按钮，或者显示其他按钮
                             actions.push('<a class="btn btn-secondary btn-xs disabled"><i class="fa fa-check"></i>已归还</a>');
                            actions.push('<a class="btn btn-warning btn-xs ' + borrowFlag + '" href="javascript:void(0)" onclick="$.operate.borrowAgain(\'' + row.orderId + '\')"><i class="fa fa-gears"></i> 借用</a>');
                        }else if (row.status == '已逾期'){
                            // actions.push('<a style="background-color: #ed5565" class="btn btn-danger btn-xs"><i class="fa fa-exclamation-triangle"></i>已逾期 去补还</a>');
                            actions.push('<a style="border-color: #ff707fde;\n' +
                                '    background-color: #ff707fde;"  class="btn btn-danger btn-xs' + returnFlag + '" href="javascript:void(0)" onclick="$.operate.returnDevice(\'' + row.orderId + '\')"><i class="fa fa-exclamation-triangle"></i>已逾期 去补还</a>');
                        }else if (row.status == '逾期补还'){
                            actions.push('<a class="btn btn-secondary btn-xs disabled"><i class="fa fa-check"></i>已补还</a>');
                            actions.push('<a class="btn btn-warning btn-xs ' + borrowFlag + '" href="javascript:void(0)" onclick="$.operate.borrowAgain(\'' + row.orderId + '\')"><i class="fa fa-gears"></i> 借用</a>');

                        }else if (row.status == '待审核'){
                            actions.push('<a class="btn btn-secondary btn-xs disabled"><i class="fa fa-spinner"></i>审核中</a>');
                        }else if (row.status == '已审核'){
                            actions.push('<a class="btn btn-secondary btn-xs disabled"><i class="fa fa-check"></i>审核通过</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>