<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>首页展示</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <style>
        .card-list {

            list-style-type: none;
            padding-left:20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin : 0;
            max-width: 300px;
        }

        .card-item {
            margin-bottom: 10px;
            width: 100%;
        }

        .card {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            text-decoration: none;
            color: #333;
            transition: transform 0.3s ease;
            width: 250px;
            height: 80px;
            padding: 10px;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }


        .icon {
            font-size: 18px;
            color: #fff;
        }

        .card-content h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 16px;
        }

        .card-content p {
            margin: 0;
            font-size: 12px;
            color: #666;
        }
        .card-icon .icon-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

    </style>
</head>
<!--首页展示页面-->
<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header" style="padding: 10px 20px 95px 20px">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
				<span>1、探索、求知、明理。</span>
				<br>
                <span style="color: rgba(58,181,227,0.91)">2、大胆探索，反复实验。</span>
				<br>
				<span>3、细心观察，认真分析，科学总结</span>
				<br>
                <span style="color: rgba(58,181,227,0.91)">4、有知识的人不实践，等于一只蜜蜂不酿蜜。</span>
				<br>
				<span>5、一个人，只有在实践中运用能力，才能知道自己的能力。</span>
            </blockquote>
        </div>
		<hr>
        <div class="col-sm-3" >
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>
                                提示!
                            </h4> <strong>警告!</strong> 请注意你的个人隐私安全.
                        </div>
                    </div>
                </div>
            </div>
            <ul class="card-list">
                <li class="card-item">
                    <a href="javascript:void(0)"  class="card" onclick="openDeviceTab()" >
                        <div class="card-icon">
                            <div class="icon-wrapper">
                                <img src="../static/device_manage.png" th:src="@{/device_manage.png}" alt="设备查询" class="icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>设备查询</h3>
                            <p>查看实验室可借用设备的信息</p>
                        </div>
                    </a>
                </li>
                <li class="card-item">
                   <a href="javascript:void(0)"  class="card" onclick="openOrderTab()" >
                        <div class="card-icon">
                            <div class="icon-wrapper">
                                <img src="../static/order.png" th:src="@{/order.png}" alt="订单管理" class="icon">
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>订单管理</h3>
                            <p>对用户租用的设备进行管理</p>
                        </div>
                    </a>
                </li>
                <li class="card-item">
                    <a href="javascript:void(0)"  class="card" onclick="openHistoryTab()" >
                    <div class="card-icon">
                            <div class="icon-wrapper">
                                <img src="../static/footprints.png" th:src="@{/footprints.png}" alt="足迹管理" class="icon" >
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>足迹查询</h3>
                            <p>对用户历史记录查询</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div></div>
        <div class="col-sm-5">
			<br>
			<br>
			<div id="main-chart" style="width: 500px;height:300px;"></div>
        </div>
        <div class="col-sm-4" style="user-select: none;">
            <div class="ibox-content" >
                <h4>任务列表</h4>
                <p class="small"><i class="fa fa-hand-o-up"></i> 合理的规划 自律的自己</p>
                <div class="input-group">
                    <input type="text" id="task" placeholder="添加新任务" class="input input-sm form-control">
                    <span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-white" onclick="addTask()"> <i class="fa fa-plus"></i> 添加</button>
          </span>
                </div>
                <ul class="sortable-list connectList agile-list" id="taskList" >
                </ul>
            </div>

        </div>

    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/echarts.min.js}"></script>
	<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <!--Echarts图表-->
    <script type="text/javascript">


	    //Echarts图表代码
		var myChart = echarts.init(document.getElementById('main-chart'));

        // 发送 AJAX 请求获取数据
        fetch('/api/workspace/hotBorrow')
            .then(response => response.json())
            .then(data => {
                // 渲染 ECharts
                renderChart(data);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        // 渲染 ECharts
        function renderChart(data) {
            // 使用获取到的数据设置 ECharts 配置项
            var option = {
                grid: {
                    top: '1%' // 设置图形距离容器上边缘的距离为 20%
                },
                title: {
                    text: '实验室热门设备图表',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    top: 'bottom', // 图例在底部
                    show:false,
                },

                series: [
                    {
                        name: '已被借阅数量',
                        type: 'pie',
                        radius: ['5%', '70%'],
                        center: ['50%', '60%'],
                        // size: '40%',
                        roseType: 'radius',
                        itemStyle: {
                            borderRadius: 8
                        },
                        label: {
                            show: true
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        },
                        data: data,
                    }
                ]
            };

		if (option && typeof option === 'object') {
			myChart.setOption(option);
		}

		window.addEventListener('resize', myChart.resize);
    }

    </script>
    <!--任务列表-->
    <script>
        // 获取任务列表数据
        function fetchTaskList() {
            $.ajax({
                url: '/api/tasks', // 后端提供任务列表数据的接口路径
                type: 'GET',
                success: function(response) {
                    renderTaskList(response); // 渲染任务列表
                },
                error: function(xhr, status, error) {
                    console.error('请求获取任务列表时出错：', error);
                }
            });
        }
        // 渲染任务列表
        function renderTaskList(tasks) {
            const taskListElement = $('#taskList');
            taskListElement.empty(); // 清空现有列表内容
            tasks.forEach(task => {
                const listItem = $('<li>').addClass('warning-element');
                // 创建第一行元素：任务描述
                const taskDescription = $('<span>').text(task.taskDescription);
                // 创建第二行元素：图表、时间和按钮的容器
                const secondRow = $('<div>').addClass('agile-detail');
                // 创建时间元素
                const taskCreateTime = new Date(task.taskCreateTime);
                const dateString = `${taskCreateTime.getFullYear()}-${taskCreateTime.getMonth() + 1}-${taskCreateTime.getDate()}`;
                const timeIcon = $('<i>').addClass('fa fa-clock-o');
                const timeSpan = $('<span>').text(dateString);

                // 创建状态按钮
                let statusButton;
                if (task.taskStatus === '未完成') {
                    statusButton = $('<a>').addClass('pull-right btn btn-xs btn-white').text('去完成').click(() => updateTaskStatus(task.taskId));
                } else if (task.taskStatus === '已完成') {
                    statusButton = $('<a>').addClass('pull-right btn btn-xs btn-primary').text('已完成').click(() => updateTaskStatus(task.taskId));
                }

                // 创建删除按钮
                const deleteButton = $('<a>').addClass('pull-right btn btn-xs btn-white').text('删除').click(() => deleteTask(task.taskId));

                // 将图表和时间添加到第二行
                secondRow.append(timeIcon, timeSpan);

                // 将状态按钮和删除按钮添加到第二行
                secondRow.append(deleteButton,statusButton);

                // 将任务描述和第二行元素添加到列表项
                listItem.append(taskDescription, secondRow);

                // 将列表项添加到任务列表中
                taskListElement.append(listItem);
            });

        }
        <!--新增任务-->
        function addTask() {
            const taskInput = document.getElementById('task');
            const taskText = taskInput.value.trim();
            if (taskText === '') return;

            //数据 用于传输至后台 ---> taskController
            const taskData = {
            taskDescription: taskText,
            taskStatus: '未完成',
                //	其他属性默认即可 未完成 已经默认时间
            };
                // 发送 AJAX 请求到后端保存任务
            $.ajax({
            url: '/api/addTask', // 后端接收添加任务的接口路径
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(taskData),
            success: function(response) {
                // 在成功保存任务后，刷新页面或者更新任务列表
                window.location.reload(); // 刷新页面
                // 或者更新任务列表的其他逻辑...
            },
            error: function(xhr, status, error) {
                // 处理请求出错的情况
            console.error('请求添加任务时出错：', error);
            }
            });
            taskList.appendChild(listItem);
            taskInput.value = '';
            }
        //  更新任务状态
        function updateTaskStatus(taskId) {
            // 确认是否要修改任务状态
            if (confirm('确定修改任务状态吗？')) {
                // 发送 AJAX 请求到后端更新任务状态
                $.ajax({
                    url: '/api/updateTaskStatus',
                    type: 'POST',
                    data: { taskId: taskId },
                    success: function(response) {
                        // 在成功更新任务状态后，刷新页面或者更新任务列表的其他逻辑...
                        window.location.reload(); // 刷新页面
                    },
                    error: function(xhr, status, error) {
                        // 处理请求出错的情况
                        console.error('请求更新任务状态时出错：', error);
                    }
                });
            }
        }
        // 删除任务
        function deleteTask(taskId) {
            if (confirm('确定删除该任务吗？')) {
                $.ajax({
                    url: '/api/deleteTask',
                    type: 'POST',
                    data: {taskId: taskId},
                    success: function(response) {
                        window.location.reload(); // 刷新页面
                    },
                    error: function(xhr, status, error) {
                        console.error('请求删除任务时出错：', error);
                    }
                });
            }
        }

        // 页面加载完成后获取并渲染任务列表
        $(document).ready(function() {
            fetchTaskList();
            $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection();
        });
    </script>
    <!--页内跳转标签 必须有下列th标签-->
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "device";
        function openDeviceTab() {
            $.modal.openTab('设备信息', prefix + "/equipment");
        }
        function openOrderTab() {
            $.modal.openTab('订单信息', prefix + "/order");
        }
        function openHistoryTab() {
            $.modal.openTab('用户足迹', prefix + "/history");
        }
    </script>

</body>
</html>
