<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.device.device.mapper.DeviceEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.nuc.device.device.domin.DeviceEquipment">
    <!--@mbg.generated-->
    <!--@Table device_equipment-->
    <id column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="purchase_date" jdbcType="DATE" property="purchaseDate" />
    <result column="warranty_period" jdbcType="INTEGER" property="warrantyPeriod" />
    <result column="total_quantity" jdbcType="INTEGER" property="totalQuantity" />
    <result column="borrowed_quantity" jdbcType="INTEGER" property="borrowedQuantity" />
    <result column="maintenance_quantity" jdbcType="INTEGER" property="maintenanceQuantity" />
    <result column="idle_quantity" jdbcType="INTEGER" property="idleQuantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    equipment_id, `name`, type_id, model, manufacturer, purchase_date, warranty_period, 
    total_quantity, borrowed_quantity, maintenance_quantity, idle_quantity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from device_equipment
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from device_equipment
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="equipment_id" keyProperty="equipmentId" parameterType="com.nuc.device.device.domin.DeviceEquipment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_equipment (`name`, type_id, model, 
      manufacturer, purchase_date, warranty_period, 
      total_quantity, borrowed_quantity, maintenance_quantity, 
      idle_quantity)
    values (#{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{purchaseDate,jdbcType=DATE}, #{warrantyPeriod,jdbcType=INTEGER}, 
      #{totalQuantity,jdbcType=INTEGER}, #{borrowedQuantity,jdbcType=INTEGER}, #{maintenanceQuantity,jdbcType=INTEGER}, 
      #{idleQuantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="equipment_id" keyProperty="equipmentId" parameterType="com.nuc.device.device.domin.DeviceEquipment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="purchaseDate != null">
        purchase_date,
      </if>
      <if test="warrantyPeriod != null">
        warranty_period,
      </if>
      <if test="totalQuantity != null">
        total_quantity,
      </if>
      <if test="borrowedQuantity != null">
        borrowed_quantity,
      </if>
      <if test="maintenanceQuantity != null">
        maintenance_quantity,
      </if>
      <if test="idleQuantity != null">
        idle_quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDate != null">
        #{purchaseDate,jdbcType=DATE},
      </if>
      <if test="warrantyPeriod != null">
        #{warrantyPeriod,jdbcType=INTEGER},
      </if>
      <if test="totalQuantity != null">
        #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="borrowedQuantity != null">
        #{borrowedQuantity,jdbcType=INTEGER},
      </if>
      <if test="maintenanceQuantity != null">
        #{maintenanceQuantity,jdbcType=INTEGER},
      </if>
      <if test="idleQuantity != null">
        #{idleQuantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nuc.device.device.domin.DeviceEquipment">
    <!--@mbg.generated-->
    update device_equipment
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDate != null">
        purchase_date = #{purchaseDate,jdbcType=DATE},
      </if>
      <if test="warrantyPeriod != null">
        warranty_period = #{warrantyPeriod,jdbcType=INTEGER},
      </if>
      <if test="totalQuantity != null">
        total_quantity = #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="borrowedQuantity != null">
        borrowed_quantity = #{borrowedQuantity,jdbcType=INTEGER},
      </if>
      <if test="maintenanceQuantity != null">
        maintenance_quantity = #{maintenanceQuantity,jdbcType=INTEGER},
      </if>
      <if test="idleQuantity != null">
        idle_quantity = #{idleQuantity,jdbcType=INTEGER},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nuc.device.device.domin.DeviceEquipment">
    <!--@mbg.generated-->
    update device_equipment
    set `name` = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      purchase_date = #{purchaseDate,jdbcType=DATE},
      warranty_period = #{warrantyPeriod,jdbcType=INTEGER},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      borrowed_quantity = #{borrowedQuantity,jdbcType=INTEGER},
      maintenance_quantity = #{maintenanceQuantity,jdbcType=INTEGER},
      idle_quantity = #{idleQuantity,jdbcType=INTEGER}
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
  </update>
  <select id="selectALL" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from device_equipment
</select>

</mapper>