<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>工作台</title>
  <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link href="../../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
  <link href="../../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .tabs {
      display: flex;
      justify-content: flex-start;
      margin-top: 7px;
    }

    .tab {
      margin: 0px 5px;
      padding: 8px 14px;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }

    .tab.active {
      background-color: #c1d9ff87;
      margin-left: 20px;
    }

    .content {
      display: none;
      padding: 10px 20px 20px 20px;
      background-color: #f3f3f4;
      border-radius: 0 0 5px 5px;
    }

    .content.active {
      display: block;
    }
    .blue-icon {
      display: inline-block;
      width: 5px;
      height: 15px;
      background-color: #4ad0db; /* 蓝色背景 */
      margin-right: 8px; /* 可根据需要调整距离文字的间距 */
    }
    .ibox-content{
      float: left;/* 使用 float 将容器靠左对齐 */
      margin-right: 20px; /* 可选的右边距，用于调整图表与其他内容的间距 */
    }
    /* 添加一些样式来区分奇偶行 */
    .even-row {
      background-color: #f2f2f2;
    }
    .odd-row {
      background-color: #ffffff;
    }
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }


  </style>
</head>
<body class="gray-bg">
<div class="tabs">
  <div class="tab active" data-tab="tab1">设备数量统计</div>
  <div class="tab" data-tab="tab2">订单统计</div>
  <div class="tab" data-tab="tab3">设备维护统计</div>
</div>
<!--选项1内容-->
<div class="content active" id="tab1" >

  <div class="row">
    <div class="col-sm-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><span class="blue-icon"></span>热门设备借用情况分析 </h5>
        </div>
        <div class="ibox-content">
          <div id="first-chart" style="width: 320px; height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><span class="blue-icon"></span>设备剩余数量占比分析</h5>
        </div>
        <div class="ibox-content">
            <div id="second-chart" style="width: 320px; height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><span class="blue-icon"></span>设备最近借用情况统计</h5>
        </div>
        <div class="ibox-content">
          <table class="borrowTable" style="width: 320px;height: 200px" >
            <thead>
            <tr >
              <th>序号</th>
              <th>设备名称</th>
              <th>借用用户</th>
              <th>借用时间</th>
              <th>归还状态</th>
            </tr>
            </thead>
            <tbody id="tableBody" >
            <!-- 这里将使用 JavaScript 来动态添加行 -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" id="tab2">
  <h2>选项卡 2 内容</h2>
  <p>这是选项卡 2 的内容。</p>
</div>

<div class="content" id="tab3">
  <h2>选项卡 3 内容</h2>
  <p>这是选项卡 3 的内容。</p>
</div>
<script th:src="@{/js/echarts.min.js}"></script>
<script>
  const tabs = document.querySelectorAll('.tab');
  const contents = document.querySelectorAll('.content');

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      const tabId = tab.getAttribute('data-tab');

      tabs.forEach(t => t.classList.remove('active'));
      tab.classList.add('active');

      contents.forEach(content => {
        if (content.getAttribute('id') === tabId) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });
    });
  });
</script>
<!--第一个图表-->
<script type="text/javascript">
  //Echarts图表代码
  var firstEcharts = echarts.init(document.getElementById('first-chart'));

  // 发送 AJAX 请求获取数据
  fetch('/api/workspace/hotBorrow')
          .then(response => response.json())
          .then(data => {
            // 渲染 ECharts
            renderFirstChart(data);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
  // 渲染 ECharts
  function renderFirstChart(data) {
    // 使用获取到的数据设置 ECharts 配置项
    var option = {
      tooltip: {
        trigger: 'item'
      },

      legend: {
        left: '180',  // 将 legend 放在中间
        top: '30%',       // 距离顶部 5%
        orient: 'vertical',  // 垂直排列
        align: 'left',   // legend 在容器内左对齐
        itemGap: 3  ,   // 图例每项之间的间距
        itemWidth: 10, // 设置图例标记的宽度
        itemHeight: 10, // 设置图例标记的高度
        textStyle: {
          fontSize: 11
        }
      },
      series: [
        {
          name: '热门设备借用情况分析 ',
          type: 'pie',
          radius: ['50%', '70%'],
          center: ['25%', '50%'],
          avoidLabelOverlap: true,
          itemStyle: {
            borderRadius: 4,
            borderColor: '#fff',
            borderWidth: 1
          },
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 12,
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: false
          },
          data: data,
        }
      ]
    };

    if (option && typeof option === 'object') {
      firstEcharts.setOption(option);
    }
    firstEcharts.setOption({
      // 设置不允许图表自动调整大小
      resize: false
    });

    window.addEventListener('resize', firstEcharts.resize);
  }
</script>
<!--第二个图表-->
<script type="text/javascript">
  //Echarts图表代码
  var secondEcharts = echarts.init(document.getElementById('second-chart'));
  // 发送 AJAX 请求获取数据
  fetch('/api/workspace/hotIdle')
          .then(response => response.json())
          .then(data => {
            // 渲染 ECharts
            renderSecondChart(data);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
  // 渲染 ECharts
  function renderSecondChart(data) {
    // 使用获取到的数据设置 ECharts 配置项
    var option = {
      tooltip: {
        trigger: 'item'
      },

      legend: {
        left: '180',  // 将 legend 放在中间
        top: '30%',       // 距离顶部 5%
        orient: 'vertical',  // 垂直排列
        align: 'left',   // legend 在容器内左对齐
        itemGap: 3  ,   // 图例每项之间的间距
        itemWidth: 10, // 设置图例标记的宽度
        itemHeight: 10, // 设置图例标记的高度
        textStyle: {
          fontSize: 11
        }
      },
      series: [
        {
          name: '热门设备借用情况分析 ',
          type: 'pie',
          radius: ['50%', '70%'],
          center: ['25%', '50%'],
          avoidLabelOverlap: true,
          itemStyle: {
            borderRadius: 4,
            borderColor: '#fff',
            borderWidth: 1
          },
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 12,
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: false
          },
          data: data,
        }
      ]
    };

    if (option && typeof option === 'object') {
      secondEcharts.setOption(option);
    }
    secondEcharts.setOption({
      // 设置不允许图表自动调整大小
      resize: false
    });

    window.addEventListener('resize', secondEcharts.resize);
  }
</script>
<!--表格-->
<script>
  fetch('/api/workspace/recentBorrow')
          .then(response => response.json())
          .then(data => {
            var tableBody = document.getElementById('tableBody');
            data.forEach(function(item,index) {
              // 解析日期字符串
              var borrowDate = new Date(item.borrowDate);
              // 获取年月日部分
              var formattedDate = borrowDate.getFullYear() + '-' + (borrowDate.getMonth() + 1) + '-' + borrowDate.getDate();
              var row = document.createElement('tr');
              row.innerHTML = '<td>' + (index + 1) + '</td>' +
                      '<td>' + item.equipmentName + '</td>' +
                      '<td>' + item.borrowUser + '</td>' +
                      '<td>' + formattedDate + '</td>' +
                      '<td style="color: ' + (item.borrowStatus === '未归还' ? '#fab42e' : '#31a314') + '">' + item.borrowStatus + '</td>';
              row.className = index % 2 === 0 ? 'even-row' : 'odd-row';
              tableBody.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
</script>
</body>

</html>
