<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>工作台</title>
  <link href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link href="../../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
  <link href="../../../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
  <link href="../../../static/css/workspace.css" th:href="@{/css/workspace.css}" rel="stylesheet"/>
  <style>

  </style>
</head>
<body class="gray-bg">
<div class="tabs">
  <div class="tab active" data-tab="tab1">设备数量统计</div>
  <div class="tab" data-tab="tab2">订单统计</div>
  <div class="tab" data-tab="tab3">设备维护统计</div>
</div>
<!--选项1内容-->
<div class="content active" id="tab1" >
  <div class="row">
    <div class="col-sm-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title" style="width: 360px">
          <h4><span class="blue-icon"></span>热门设备借用情况分析 </h4>
        </div>
        <div class="ibox-content">
          <div id="first-chart" style="width: 320px; height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="ibox float-e-margins">
        <div class="ibox-title" style="width: 360px">
          <h4><span class="blue-icon"></span>设备剩余数量占比分析</h4>
        </div>
        <div class="ibox-content">
            <div id="second-chart" style="width: 320px; height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title" style="width: 360px">
          <h4><span class="blue-icon"></span>设备最近借用情况统计</h4>
        </div>
        <div class="ibox-content">
          <table class="borrowTable" style="width: 320px;height: 200px" >
            <thead>
            <tr >
              <th>序号</th>
              <th>设备名称</th>
              <th>借用用户</th>
              <th>借用时间</th>
              <th>归还状态</th>
            </tr>
            </thead>
            <tbody id="tableBody" >
            <!-- 这里将使用 JavaScript 来动态添加行 -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-bottom white-bg dashboard-header"  style="margin: 20px 2px ">
   <div class="row">
     <div class="col-sm-12">
       <div class="ibox-title" style="width: 360px">
         <h4><span class="blue-icon"></span>热门设备借用情况分析 </h4>
       </div>
       <hr>
     </div>
   </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" >
          <img src="../../../static/workspace/jieyong.png" alt="借用数量" th:src="@{/workspace/jieyong.png}" class="card-icon" style="background: aliceblue;">
          <div class="right-bar">
            <div class="card-header">
              <span class="process-font">设备借用量:<span th:text="${borrowQuantity}"></span></span>
              <span class="progress-percentage" style="color: #52bce8" ><span th:text="${borrowProp}"></span>%</span>
            </div>
          <div class="progress-bar">
            <div class="progress" th:style="'width: ' + ${borrowProp} + '%; background-color: #52bce887;'"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../../../static/workspace/kucun.png" alt="库存量" th:src="@{/workspace/kucun.png}" class="card-icon" style="background: aliceblue; filter: hue-rotate(310deg)">
          <div class="right-bar">
            <div class="card-header">
              <span class="process-font">设备库存量:<span th:text="${idleQuantity}"></span></span>
              <span class="progress-percentage" style="color: #13c8cc"><span th:text="${idleProp}"></span>%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" th:style="'width: ' + ${idleProp} + '%; background-color: #13c8cc47;'"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">

      <div class="card-body">
        <img src="../../../static/workspace/weixiu.png" alt="维修数量" th:src="@{/workspace/weixiu.png}" class="card-icon" style="background: aliceblue; filter: hue-rotate(256deg)  ">
        <div class="right-bar">
          <div class="card-header">
            <span class="process-font">设备维护量:<span th:text="${maintenanceQuantity}"></span></span>
            <span class="progress-percentage" style="color: #46d94df5" ><span th:text="${maintenanceProp}"></span>%</span>
          </div>
          <div class="progress-bar">
            <div class="progress" th:style="'width: ' + ${maintenanceProp} + '%; background-color: #9bdc9ef5;'"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div id="third-chart" style="height: 380px"></div>
  </div>
</div>
</div>

<!--选项2内容-->
<div class="content " id="tab2">
  <!--上半 卡片&仪表盘-->
  <div class="row card-container">
    <div class="col-sm-2">
      <div class="card2">
        <img src="../../../static/workspace/jieyong.png" alt="借用数量" th:src="@{/workspace/jieyong.png}">
        <h4>借用设备</h4>
        <h2>共计<span style="background: #39c4e040" th:text="${userBorrow.getOrderCount()}"></span>笔订单!</h2>
        <h3>借有<span style="background: #39c4e040" th:text="${userBorrow.getDeviceCount()}"></span>台设备!</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card2">
        <img src="../../../static/workspace/guihuan.png" alt="归还数量" th:src="@{/workspace/guihuan.png}">
        <h4>归还数量</h4>
        <h2>共计<span style="background: #00f7611c" th:text="${userReturn.getOrderCount()}"></span>笔订单!</h2>
        <h3>归还<span style="background: #00f7611c" th:text="${userReturn.getDeviceCount()}"></span>台设备!</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card2">
        <img src="../../../static/workspace/yuqi.png" alt="逾期数量" th:src="@{/workspace/yuqi.png}">
        <h4>逾期数量</h4>
        <h2>共计<span style="background: #f7c6001f" th:text="${userOverdue.getOrderCount()}"></span>笔订单!</h2>
        <h3>逾期<span style="background: #f7c6001f" th:text="${userOverdue.getDeviceCount()}"></span>台设备!</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card2" style="margin-right: -62px; position: relative; z-index: 2; /* 设置右边的 div 的层叠顺序为 2，高于左边的 div */">
        <img src="../../../static/workspace/xuqi.png" alt="即将到期" th:src="@{/workspace/xuqi.png}">
        <h4>即将到期</h4>
        <h2>共计<span style="background: #f824311c" th:text="${userWillOverdue.getOrderCount()}"></span>笔订单!</h2>
        <h3>临期<span style="background: #f824311c" th:text="${userWillOverdue.getDeviceCount()}"></span>台设备!</h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="deadLineChart" style="width: 740px;height: 285px"></div>
    </div>
  </div>
  <!--下半折线图-->
  <div class="row">
    <div class="col-sm-8">
      <div id="borrow-times-chart" style="height: 300px ;width: 800px"></div>
    </div>
    <div class="col-sm-4" id="lbt" >
      <div class="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <p>播报:</p>
          </div>
          <div class="carousel-item">
            <p>最新借用信息:于<span th:text="${borrowDate}"></span>借用<span th:text="${order.equipmentName}"></span></p>
          </div>
          <div class="carousel-item">
            <p>借用数量为<span th:text="${order.borrowNum}" style="color: #1d9d74"></span>,借用时长<span th:text="${diffDays}" style="color: #1f90d8"></span>天</p>

          </div>
          <div class="carousel-item">
            <p>共有<span></span>台设备待归还，请注意归还日期</p>
          </div>
          <div class="carousel-item">
            <p>您有<span></span>笔订单为<span style="color: #ce8483">待审核<span></span>状态,记得不定时查看</p>
          </div>
        </div>
      </div>
      <div class="cirCard-container">
        <div class="cirCard" style="bottom: -12px;left: 23px">
          <a href="#" class="cirCard-link">借用</a>
        </div>
        <div class="cirCard" style="left: 15px;bottom: 60px">
          <a href="#" class="cirCard-link">归还/续期</a>
        </div>
        <div class="cirCard" style="left: 26px ;bottom: 14px">
          <a href="#" class="cirCard-link">维护</a>
        </div>
      </div>
    </div>
    </div>
</div>

<!--选项3内容-->
<div class="content" id="tab3">
  <h2>选项卡 3 内容</h2>
  <p>这是选项卡 3 的内容。</p>
</div>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/workspace.js}"></script>

</body>
</html>
