<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('正在维护设备列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>订单编号：</label>
                                <input type="text" name="orderId"/>
                            </li>
                            <li>
                                <label>设备名称：</label>
                                <input type="text" name="equipmentName"/>
                            </li>
                            <li>
                                <label>提交人员：</label>
                                <input type="text" name="uploadUser"/>
                            </li>
                            <li>
                                <label>提交时间：</label>
                                <input type="text" class="time-input" placeholder="请选择提交时间" name="uploadDate"/>
                            </li>
                            <li>
                                <label>审批时间：</label>
                                <input type="text" class="time-input" placeholder="请选择审批时间" name="manageDate"/>
                            </li>
                            <li>
                                <label>维修数量：</label>
                                <input type="text" name="maintenanceNum"/>
                            </li>
                            <li>
                                <label>维修状态：</label>
                                <select name="maintenanceStatus" th:with="type=${@dict.getType('dv_maintenance_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>审批人员：</label>
                                <input type="text" name="manageName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">

                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="device:maintenance:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('device:maintenance:edit')}]];
        var removeFlag = [[${@permission.hasPermi('device:maintenance:remove')}]];
        var solveFlag = [[${@permission.hasPermi('device:maintenance:solve')}]];
        var maintenanceStatusDatas = [[${@dict.getType('dv_maintenance_status')}]];
        var prefix = ctx + "device/maintenance";

        $(function() {
            var options = {
                url: prefix + "/underMaintenanceList",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                solveUrl: prefix + "/solve/{id}",
                modalName: "设备维护",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'workId',
                    title: '工单编号',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '订单编号'
                },
                {
                    field: 'equipmentName',
                    title: '设备名称'
                },
                {
                    field: 'uploadUser',
                    title: '提交人员'
                },
                {
                    field: 'uploadDate',
                    title: '提交时间'
                },
                {
                    field: 'manageDate',
                    title: '审批时间'
                },
                {
                    field: 'maintenanceNum',
                    title: '维修数量'
                },
                {
                    field: 'maintenanceStatus',
                    title: '维修状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(maintenanceStatusDatas, value);
                    }
                },
                {
                    field: 'manageName',
                    title: '审批人员'
                },
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>